<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKWatchOnly</key>
			<false/>
			<key>WKAppBundleIdentifier</key>
			<string>com.fku.WatchSoundboard.watchkitapp</string>
			<key>WKCompanionAppBundleIdentifier</key>
			<string>com.fku.WatchSoundboard</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
		<key>NSUbiquitousContainers</key>
		<dict>
			<key>iCloud.com.fku.WatchSounds</key>
			<dict>
				<key>NSUbiquitousContainerIsDocumentScopePublic</key>
				<true/>
				<key>NSUbiquitousContainerName</key>
				<string>WatchSounds</string>
				<key>NSUbiquitousContainerSupportedFolderLevels</key>
				<string>Any</string>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
